<% layout('layouts/boilerplate') -%>

<div class="row">
	<div class="col-md-12">
		<a href="/posts/new" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> New Post</a>
		
		<h3>Filter Results</h3>
		<form action="/posts" method="GET">
			<label for="search">Search</label>
			<input type="text" id="search" name="post[search]">
			<fieldset>
				<legend>Condition</legend>
				<label for="condition-excellent">Excellent</label>
				<input type="checkbox" id="condition-excellent" name="post[condition]" value="excellent">
				<label for="condition-good">Good</label>
				<input type="checkbox" id="condition-good" name="post[condition]" value="good">
				<label for="condition-poor">Poor</label>
				<input type="checkbox" id="condition-poor" name="post[condition]" value="poor">
			</fieldset>
			<label for="price">Price</label>
			<input type="number" name="post[price]" id="price" min="0" step="1">
			<label for="address">Address</label>
			<input type="text" name="post[location]" id="address">

			<input type="submit" value="Go!">
		</form>

	</div>
</div>

<div class="row">
	<% posts.forEach((post) => { %>
	<div class="col-md-4">
		<div class="card" style="width: 20rem;">
		  <img class="card-img-top" src="<%= post.image %>" alt="<%= post.title %>">
		  <div class="card-body">
		    <h4 class="card-title"><%= post.title %></h4>
		    <p class="card-text"><%- post.description.substring(0, 20) %><%= post.description.length > 20 ? '...' : '' %></p>
		    <a href="/posts/<%= post.id %>" class="btn btn-primary">View Board</a>
		  </div>
		</div>
	</div>
	<% }); %>
</div>
