<% layout('layouts/boilerplate') -%>

<div class="row">
	<div class="col-md-4 col-offset-4">
		<h1><%= post.title%></h1>
		<p><%- post.description %></p>
		<p>Posted by: <%= post.author.username %> <%= moment(post.createdAt).fromNow() %></p>
		<a class="btn btn-outline-warning" href="/posts/<%= post.id %>/edit" role="button">Edit</a>
		<form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="delete-form">
			<input type="submit" class="btn btn-outline-danger" value="Delete">
		</form>
	</div>
</div>