<% layout('layouts/boilerplate') -%>

<div class="row">
	<div class="col-md-4 col-offset-4">
		<div class="card" style="width: 20rem;">
			<img class="card-img-top" src="<%= post.image %>" alt="<%= post.title %>">
			<div class="card-body">
			  <h4 class="card-title"><%= post.title %></h4>
			  <p>Price: $<%= post.price %>.00</p>
			  <p class="card-text"><%- post.description %></p>
				<p>Posted by: <%= post.author.username %> <%= moment(post.createdAt).fromNow() %></p>
			</div>
		</div>
		<% if(currentUser && currentUser.equals(post.author)) { %>
		<a class="btn btn-outline-warning" href="/posts/<%= post.id %>/edit" role="button">Edit</a>
		<form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="delete-form">
			<input type="submit" class="btn btn-outline-danger" value="Delete">
		</form>
		<% } %>
		<% if(currentUser) { %>
		<form action="/posts/<%= post.id %>/comments" method="POST" id="comment-form">
			<div class="form-group">
				<label for="comment-body">Comment</label>
				<input type="text" id="comment-body" name="comment[body]" class="form-control" placeholder="Have any questions, <%= currentUser.username %>?" required>
			</div>
			<div class="form-group">	
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
		<% } %>
		<h2>Comments</h2>
		<div id="comments">
		<% post.comments.forEach((comment)=> { %>
			<p>
				<span><%= comment.author.username %></span> - <strong><%= comment.body %></strong>
			</p>
			<hr>
		<% }); %>
		</div>
	</div>
</div>