<% layout('layouts/boilerplate') -%>

<div class="row">
	<div class="col-md-4 col-offset-4">
		<div class="card" style="width: 20rem;">
			<img class="card-img-top" src="<%= post.image %>" alt="<%= post.title %>">
			<div class="card-body">
			  <h4 class="card-title"><%= post.title %></h4>
			  <p><strong>Condition:</strong> <%= post.condition %></p>
			  <p><strong>Price:</strong> $<%= post.price %>.00</p>
			  <p class="card-text"><%- post.description %></p>
				<p>Posted by: <%= post.author.local.username || post.author.facebook.name %> <%= moment(post.createdAt).fromNow() %></p>
			</div>
		</div>
		<% if(currentUser && currentUser.equals(post.author)) { %>
		<a class="btn btn-outline-warning" href="/posts/<%= post.id %>/edit" role="button">Edit</a>
		<form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="delete-form">
			<input type="submit" class="btn btn-outline-danger" value="Delete">
		</form>
		<% } %>
		<% if(currentUser) { %>
		<form action="/posts/<%= post.id %>/comments" method="POST" id="comment-form">
			<div class="form-group">
				<label for="comment-body">Comment</label>
				<input type="text" id="comment-body" name="comment[body]" class="form-control" placeholder="Have any questions?" required>
			</div>
			<div class="form-group">	
				<button type="submit" class="btn btn-default" id="comment-submit">Submit</button>
			</div>
		</form>
		<% } %>
		<h2>Comments</h2>
		<div id="comments">
		<% post.comments.forEach((comment) => { %>
			<form action="/posts/<%= post.id %>/comments/<%= comment.id %>" class="form-inline comment-edit-form">
				<input type="text" name="comment[body]" class="form-control" value="<%= comment.body %>">
				<input type="submit" class="btn btn-default" value="Update">
			</form>
			<p>
				<i class="fa fa-pencil-square-o edit-comment" aria-hidden="true"></i> <strong><%= comment.author.local.username || comment.author.facebook.name %></strong> - <%= comment.body %> 
			</p>
			<hr>
		<% }); %>
		</div>
		<div id="map"></div>
	</div>
</div>

<script>
	function initMap() {
	  var lat = <%= post.lat %>;
	  var lng = <%= post.lng %>;
	  var center = {lat: lat, lng: lng };
	  var map = new google.maps.Map(document.getElementById('map'), {
	      zoom: 8,
	      center: center,
	      scrollwheel: false
	  });
	  var contentString = `
	    <strong><%= post.title %><br />
	    <%= post.location %></strong>
	    <p><%= post.description %></p>
	  `
	  var infowindow = new google.maps.InfoWindow({
	    content: contentString
	  });
	  var marker = new google.maps.Marker({
	      position: center,
	      map: map
	  });
	  marker.addListener('click', function() {
	    infowindow.open(map, marker);
	  });
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkG51lwJtDvYFKTBdRZlhzYg1D4QFsXPU&callback=initMap"></script>
