<% layout('layouts/boilerplate') -%>

<!-- <div class="row">
	<div class="col-md-4 col-offset-4">
		<div class="card" style="width: 20rem;">
			<img class="card-img-top" src="<%= post.image %>" alt="<%= post.title %>">
			<div class="card-body">
			  <h4 class="card-title"><%= post.title %></h4>
			  <p><strong>Condition:</strong> <%= post.condition %></p>
			  <p><strong>Price:</strong> $<%= post.price %>.00</p>
			  <p class="card-text"><%- post.description %></p>
				<p>Posted by: <%= post.author.local.username || post.author.facebook.name %> <%= moment(post.createdAt).fromNow() %></p>
			</div>
		</div>
		<% if(currentUser && currentUser.equals(post.author)) { %>
		<a class="btn btn-outline-warning" href="/posts/<%= post.id %>/edit" role="button">Edit</a>
		<form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="delete-form">
			<input type="submit" class="btn btn-outline-danger" value="Delete">
		</form>
		<% } %>
		<% if(currentUser) { %>
		<form action="/posts/<%= post.id %>/comments" method="POST" id="comment-form">
			<div class="form-group">
				<label for="comment-body">Comment</label>
				<input type="text" id="comment-body" name="comment[body]" class="form-control" placeholder="Have any questions?" required>
			</div>
			<div class="form-group">	
				<button type="submit" class="btn btn-default" id="comment-submit">Submit</button>
			</div>
		</form>
		<% } %>
		<h2>Comments</h2>
		<div id="comments">
		<% post.reviews.forEach((review) => { %>
			<form action="/posts/<%= post.id %>/reviews/<%= review.id %>" class="form-inline review-edit-form">
				<input type="text" name="review[body]" class="form-control" value="<%= review.body %>">
				<input type="submit" class="btn btn-default" value="Update">
			</form>
			<p>
				<i class="fa fa-pencil-square-o edit-review" aria-hidden="true"></i> <strong><%= review.author.local.username || review.author.facebook.name %></strong> - <%= review.body %> 
			</p>
			<hr>
		<% }); %>
		</div>
		<div id="map"></div>
	</div>
</div> -->

<div class="row">

  <div class="col-lg-3">
    <h1 class="my-4"><%= post.title %></h1>
    <hr>
    <div class="card">
      <div class="card-body">
				<h3>$<%= post.price %>.00</h3>
				<p><%= post.location %></p>
      </div>
			<div id="map"></div>
    </div>
  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <div class="card mt-4">
      <img class="card-img-top img-fluid" src="<%= post.image %>" alt="<%= post.title %>">
      <div class="card-body">
        <p>Posted by: <%= post.author.local.username || post.author.facebook.name %> <%= moment(post.createdAt).fromNow() %></p>
        <hr>
        <p class="card-text"><%- post.description %></p>
        <% if(currentUser && currentUser.equals(post.author)) { %>
        <a class="btn btn-outline-warning" href="/posts/<%= post.id %>/edit" role="button">Edit</a>
        <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="delete-form">
        	<input type="submit" class="btn btn-outline-danger" value="Delete">
        </form>
        <% } %>
      </div>
    </div>
    <!-- /.card -->

    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        Reviews
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <a href="#" class="btn btn-success">Leave a Review</a>
      </div>
    </div>
    <!-- /.card -->

  </div>
  <!-- /.col-lg-9 -->

</div>

<script>
	function initMap() {
	  var lat = <%= post.lat %>;
	  var lng = <%= post.lng %>;
	  var center = {lat: lat, lng: lng };
	  var map = new google.maps.Map(document.getElementById('map'), {
	      zoom: 8,
	      center: center,
	      scrollwheel: false
	  });
	  var contentString = `
	    <strong><%= post.title %><br />
	    <%= post.location %></strong>
	    <p><%= post.description %></p>
	  `
	  var infowindow = new google.maps.InfoWindow({
	    content: contentString
	  });
	  var marker = new google.maps.Marker({
	      position: center,
	      map: map
	  });
	  marker.addListener('click', function() {
	    infowindow.open(map, marker);
	  });
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkG51lwJtDvYFKTBdRZlhzYg1D4QFsXPU&callback=initMap"></script>
