<% layout('layouts/boilerplate') -%>

<div class="row">

  <div class="col-lg-3">
    <h1 class="mt-4 mb-0"><%= post.title %></h1>
    <small><%= post.category %></small>
    <hr>
    <div class="card">
      <div class="card-body">
				<h3>$<%= post.price %>.00</h3>
				<p><%= post.location %></p>
      </div>
			<div id="show-map"></div>
    </div>
  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <div class="card mt-4">
      <img class="card-img-top img-fluid" src="<%= post.image %>" alt="<%= post.title %>">
      <div class="card-body">
        <p>Posted by: <%= post.author.local.username || post.author.facebook.name %> <%= moment(post.createdAt).fromNow() %></p>
        <hr>
        <p class="card-text"><%- post.description %></p>
        <% if(currentUser && currentUser.equals(post.author)) { %>
        <a class="btn btn-outline-warning" href="/posts/<%= post.id %>/edit" role="button">Edit</a>
        <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="delete-form">
        	<input type="submit" class="btn btn-outline-danger" value="Delete">
        </form>
        <% } %>
      </div>
    </div>
    <!-- /.card -->

    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        Questions & Comments
      </div>
      <div class="card-body" id="comments">
      	<% post.comments.forEach(function(comment) { %>
        <div class="row">
          <div class="col-md-8">
            <p><%- comment.body %></p>
            <small class="text-muted">Posted by <%= comment.author.local.username || comment.author.facebook.name %> <%= moment(comment.createdAt).fromNow() %></small>
          </div>
          <div class="col-md-4">
            <div class="float-md-right mt-2 mt-md-0">
              <% if (currentUser && comment.author.equals(currentUser.id)) { %>
              <button class="btn btn-sm btn-outline-warning edit-comment" data-comment-id="<%= comment.id %>">Edit</button>
              <form action="/posts/<%= post.id %>/comments/<%= comment.id %>" class="delete-comment">
                <input type="submit" class="btn btn-sm btn-outline-danger" value="Delete">
              </form>
              <% } %>
            </div>
          </div>
          <div class="col-md-12">
            <hr>
          </div>
        </div>
      	<% }); %>
        <% if (currentUser) { %>
        <form action="/posts/<%= post.id %>/comments" class="mt-2" id="comment-form">
        	<div class="form-group">
        	  <label for="comment-body" class="sr-only">Body</label>
        	  <textarea class="form-control" id="comment-body" rows="3" name="comment[body]" placeholder="Tell us how you feel..."></textarea>
        	</div>
        	<button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } %>
      </div>
    </div>
    <!-- /.card -->

  </div>
  <!-- /.col-lg-9 -->

</div>

<script>
  var post = <%- JSON.stringify(post) %>;
</script>
